 td {
   padding: 5px;
   max-width: 400px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: wrap;
   vertical-align: top;
 }

 .card-centered {
   max-width: 600px;
   margin: auto;
   margin-top: 40px;
 }
